*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 10vh;
    background-color:black;
}
.container{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.logo-title {
  font-size: 2.5rem;
  text-align: center;
  color: white;
}
#navbar{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: black !important;
   
   
}
#navbar li a{
    color: white !important;
    font-size: 1rem;
    font-weight: 600;
   
   
}
.dropdown-menu {
  background-color: black;
  border-radius: 5px;
  box-shadow: 10px 0 10px gray;
}
.dropdown-menu a {
    font-weight: 400;
    color: black;
    
}
.dropdown-menu a:hover {
    font-weight: 400;
    
}
#sec1{
      width: 100%;
      min-height: 100vh;
      background-color:black;
      display: flex;
      justify-content: center;
}

.cont{
    width: 80%;
    min-height: 100vh;
    
    background-color: white;
    padding: 2% 4%;
}
.card {
  border-radius: 12px;
  transition: 0.3s ease;
  overflow: hidden;
  
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}