*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: none;
}
body{
    background-color: black;

}
.container{
     padding: 4% !important;
    width: 100%;
    min-height: 100vh;
   color: white;
}
#btn-homepage {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none; /* əgər a tag-dırsa */
}

#btn-homepage:hover {
  background-color: #333;
  transform: scale(1.05);
}